<p id="notice"><%= notice %></p>

<p>
  <strong>Svname:</strong>
  <%= @supervisor.svname %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @supervisor.password_digest %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
